# Ignore all archived file
**/_archive

# Ignore .DS_Store - it's a mac-specific file used for Finder
**/.DS_Store

# Ignore spatial analysis scripts - need to check with Charles if I can host them here
scripts

# Ignore geospatial files due to size
data/geospatial

# Ignore supporting items
supporting